{% block content %}
    <h2 style = "text-align: center;">User Input Form</h2>
      <form action = "" method = post>
         <fieldset>
            <legend>User Input Form</legend>
            <div style = "font-size:20px; font-weight:bold; margin-left:150px;" >
               {{ form.qauthor.label }} : {{ form.qauthor }} {% if field == 'author' %}{{ err }}{% endif %}<br><br>
               {{ form.qstring.label }} : {{ form.qstring }} {% if field == 'quote' %}{{ err }}{% endif %}<br><br>
               {{ form.submit }}
            </div>
         </fieldset>
      </form>
{% endblock %}
