{% extends "base_split.html" %}

{% block static %}
    <h2 style = "text-align: center;">Task Management Form</h2>
      <form action = "" method = POST >
         <fieldset>
            <legend>Task Maintenance Form</legend>
            <div style = "font-size:14px; text-align:center; background-color:lightblue;">
               {% if ctime %} {{ form.currTime.label }} {{ ctime }} {% endif %}
            </div>
            <div style = "font-size:14px; " >
               {{ form.action(onchange="updateTaskList()") }}
               {{ form.taskName.label }} <br> {{ form.taskName(cols=35, rows=5) }}<br> <br>
               {{ form.status.label }} : {{ form.status }}
               {{ form.taskList.label }} <br> {{ form.taskList(onchange="updateTaskName()") }}<br><br>
               {{ form.submit }}
               {{ form.getTask }}
            </div>
            <div style = "font-size:14px; text-align=center; background-color:green" >
               {% if message %} <br><br>{{ message }}<br><br> {% endif %}
            </div>
            <div style = "font-size:14px; color:red; text-align=center; background-color:yellow" >
               {% if err %} <br><br>{{ err }}<br><br> {% endif %}
            </div>
         </fieldset>
      </form>
      <script>
          function updateTaskName(){
              document.getElementById('taskName').value = document.getElementById('taskList').value
          }
          function updateTaskList(){
              action = document.getElementByName('action')
              document.getElementById('taskList').disabled = true
          }
      </script>
{% endblock %}

{% block main %}
      <form action = "" method = POST >
         <fieldset>
            <legend>List Of Current Tasks</legend>
            <table style="width=100%; border: 1px solid black">
                <tr>
                    <th>ID</th>
                    <th>Description</th>
                    <th>Status</th>
                    <th>Update Time</th>
               </tr>
                {% for task in db_task %}
                <tr>
                    <td>{{ task.id }}</td> 
                    <td>{{ task.task }}</td> 
                    <td>{{ task.status }}</td> 
                    <td>{{ task.updated }}</td> 
                </tr>
                {% endfor %}
            </table>
         </fieldset>
      </form>
{% endblock %}
