{% extends "base.html" %}
{% block content %}
    <h2 style = "text-align: center;">Status Summary for All Open Tasks</h2>
      <form action = "" method = POST>
         <fieldset>
            <legend>Status Maintenance</legend>
	    <table style="width=100%; border: 1px solid black">
		    <tr>
			    <th>Task ID</th>
			    <th>Task Description</th>
			    <th>Target Description</th>
			    <th>On Track</th>
			    <th>Update Comments</th>
			    <th>Issues</th>
			    <th>Action</th>
		   </tr>
		    {% for task in db_status %}
		    <tr>
			    <td>{{ task.id }}</td> 
			    <td>{{ task.task }}</td> 
			    <td>{{ task.target }}</td> 
			    <td>{{ task.onTrack }}</td> 
			    <td>{{ task.cupdate }}</td> 
			    <td>{{ task.issues }}</td> 
			    <td><button type='submit' name={{ task.id}}>Update</button></td> 
		    </tr>
		    {% endfor %}
	    </table>
         </fieldset>
      </form>
{% endblock %}
